.tableView {
    width: 100%;
}

.tableView th {
    font-size:1.25rem;
    font-weight:700;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 1rem;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-transform: capitalize;
}

.tableView th svg {
    vertical-align: middle;
}

.tableView tbody tr {
    line-height:2.625rem;
    transition: all 150ms;
}

.tableView tbody tr:hover {
    background:rgba(255,255,255,0.25);
    cursor: pointer;
}

.tableView tbody tr:hover td {
    color:rgba(0,0,0,1);
}

.tableView tbody tr.selected {
    background:rgba(0,0,0,1);
    cursor: pointer;
}

.tableView tbody tr.selected td {
    color:rgba(255,255,255,1);
    font-weight:700;
}

.tableView tbody tr:hover td:last-child, .tableView tbody tr.selected td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tableView td {
    color:rgba(0,0,0,0.5);
    font-size:1rem;
    text-align: center;
    white-space: nowrap;
}

.tableView th:first-of-type, .tableView td:first-of-type {
    text-align: left;
    padding-left:40px;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .tableView th:first-of-type, .tableView td:first-of-type {
        padding-left:20px;
    }
}

@media screen and (max-width: 1023px) {
    .tableView th:first-of-type, .tableView td:first-of-type {
        padding-left:20px;
        display:table-cell;
    }
    .tableView th, .tableView td {
        display:none;
    }
}