.navBtn {
    background:none;
    border:1px solid #eee;
    width:180px;
    font-size:1.25rem;
    color:#000;
    margin-right:20px;
}

.navBtn:last-of-type {
    margin-right:0;
}

.navBtn button:hover {
    border:1px solid #000;
}

.navBtn.selected button {
    background: #000;
    color:#FFF;
    border:1px solid #000;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .navBtn {
        width:160px;
    }

    .navBtn {
        margin-right:10px;
    }
}

@media screen and (min-width:1280px) and (max-width: 1659px) {
    .navBtn {

    }
}

@media screen and (max-width: 1023px) {
    .navBtn {
        margin-right:0;
    }
    .navBtn {
        display:block;
        text-decoration: none;
    }
    .navBtn button {
        margin: 16px 0;
        width:220px;
        height:3rem;
        font-size:1.5rem;
        cursor:pointer;
    }
}