.title h1 {
    font-size:3rem;
    font-weight:900;
    text-transform: uppercase;
}

.title h1 span {
    font-weight:normal;
    text-transform: lowercase;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .title h1 {
        font-size:2rem;
    }
}

@media screen and (max-width: 1023px) {
    .title h1 {
        font-size:2rem;
    }
}