main.main {
    width:70%;
    padding:0 40px 0 0;
    box-sizing: border-box;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    main.main {
        width: 65%;
        padding:0 20px 0 0;
    }
}

@media screen and (max-width: 1023px) {
    main.main {
        width: 100%;
        height:100%;
        transition: all linear 100ms;
        overflow-y:auto;
        padding:32px 48px 64px 48px;
    }
}