main.main {
    width:70vw;
    padding:0 40px 0 0;
    box-sizing: border-box;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    main.main {
        width: 65vw;
        padding:0 20px 0 0;
    }
}

@media screen and (max-width: 1023px) {
    main.main {
        width: 100%;
        height:65vh;
        overflow-y:auto;
        padding:10px 40px;
    }
}