.section form input::selection, section.section form textarea::selection {
    background-color:#000;
    color:#FFF;
    text-shadow: 0 0;
}

.section form input::-moz-selection, section.section form textarea::-moz-selection {
    background-color:#000;
    color:#FFF;
    text-shadow: 0 0;
}

.section {
    width:30vw;
    height:100vh;
    background:rgba(255,255,255,0.33);
    position:fixed;
    top:0;
    right:0;
    padding:160px 40px 40px 40px;
    box-sizing: border-box;
}

.section .title {
    border-bottom: 1px solid #000;
    width:100%;
    position: relative;
    padding-bottom:7px;
    margin-bottom:12px;
}

.section .title h2 {
    font-size:1.5em;
    font-weight:700;
    display:inline-block;
    text-transform: capitalize;
}

.section .title svg {
    position: absolute;
    right:0;
    color:rgba(0,0,0,0.5);
    transition: all 150ms;
    width:1.5rem;
    height:1.5rem;
}

.section .title svg:hover {
    color:rgba(0,0,0,1);
    cursor: pointer;
}

.section .sidebar-form {
    position:relative;
}

.section .sidebar-form div {
    height:3rem;
}

.section .sidebar-form label,
.section .sidebar-form input,
.section .sidebar-form select {
    font-size:1.25rem;
}

.section .sidebar-form input,
.section .sidebar-form select {
    position: absolute;
    right:0;
    text-align: center;
}

.section .sidebar-form input,
.section .sidebar-form select,
.section .sidebar-form textarea {
    background:rgba(255,255,255,0.5);
    border-radius:4px;
    border:0;
}

.section .sidebar-form input[type='number'] {
    width:64px;
    padding-left:10px;
}

.section .sidebar-form select {
    padding-left:10px;
    padding-right:10px;
}

.section .sidebar-form textarea {
    resize: vertical;
    min-height: 25vh;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    font-size: 1.125rem;
    margin-bottom:2rem;
}