.section form input::selection, section.section form textarea::selection {
    background-color:#000;
    color:#FFF;
    text-shadow: 0 0;
}

.section form input::-moz-selection, section.section form textarea::-moz-selection {
    background-color:#000;
    color:#FFF;
    text-shadow: 0 0;
}

.section {
    width:30vw;
    height:100vh;
    background:rgba(255,255,255,0.33);
    position:fixed;
    top:0;
    right:0;
    padding:120px 40px 40px 40px;
    box-sizing: border-box;
    overflow-y: auto;
}

.section .title {
    border-bottom: 1px solid #000;
    width:100%;
    position: relative;
    padding-bottom:7px;
}

.section .title h2 {
    font-size:1.5em;
    font-weight:700;
    display:inline-block;
    text-transform: capitalize;
}

.section .title span {
    display:block;
    font-weight:700;
    margin-bottom:0.5rem;
}

.section .sidebar-form {
    position:relative;
}

.section .sidebar-form div {
    padding: 0.5rem 0;
}

.section .sidebar-form div:first-of-type {
    padding: 1rem 0 0.5rem 0;
}

.section .sidebar-form div:last-of-type {
    padding: 0.5rem 0 1rem 0;
}

.section .sidebar-form label,
.section .sidebar-form input,
.section .sidebar-form textarea,
.section .sidebar-form select {
    font-size:1rem;
}

.section .sidebar-form input,
.section .sidebar-form select,
.section .sidebar-form textarea {
    background:rgba(255,255,255,0.5);
    border-radius:4px;
    border:0;
}

.section .sidebar-form label {
    display: inline-block;
    vertical-align: middle;
    line-height:1.5rem;
    padding:2px 0;
}

.section .sidebar-form select {
    position: absolute;
    right:0;
    text-align: left;
    text-transform: capitalize;
    padding: 2px 6px;
}

.section .sidebar-form input[type='text'] {
    box-sizing: border-box;
    width:100%;
    line-height:1.5rem;
    padding:2px 6px;
    text-transform: capitalize;
}

.section .sidebar-form input[type='number'] {
    width:48px;
    text-align: right;
    position: absolute;
    right:0;
    line-height:1.5rem;
    padding:2px 6px;
}

.section .sidebar-form input[type='date'] {
    position: absolute;
    right:0;
    text-align: center;
    padding:2px 6px;
}

.section .sidebar-form textarea {
    resize: vertical;
    min-height: 25vh;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.8rem;
}