.section {
    width:30%;
    height:100vh;
    background:#82CF97;
    position:fixed;
    top:0;
    right:0;
    padding-top:120px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 15;
}

.section .title {
    border-bottom: 1px solid #000;
    position: relative;
    padding-bottom:7px;
    margin:0 40px 1rem 40px;
}

.section .title h2 {
    font-size:1.5em;
    font-weight:700;
    display:inline-block;
    text-transform: capitalize;
}

.section .title span {
    display:block;
    font-weight:700;
    margin-bottom:0.5rem;
}

.section .title sup {
    font-size:1rem;
    vertical-align: top;
}

.section .sidebar-form {
    position:relative;
    margin:0 40px;
}

.section .sidebar-form div {
    padding-bottom: 1rem;
}

.section .sidebar-form select {
    width: 100%;
}

.section .sidebar-form input[type='text'] {
    box-sizing: border-box;
    width:100%;
}

.section .sidebar-form input[type='number'] {
    width:48px;
    text-align: right;
    position: absolute;
    right:0;
}

.section .sidebar-form input[type='date'] {
    position: absolute;
    right:0;
    text-align: center;
}

.section .sidebar-form textarea {
    resize: vertical;
    min-height: 25vh;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.section .errorMsg {
    color: rgba(184,69,69,1);
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}

.section .cropDetailsContainer {
    margin-bottom:1rem;
}
.section .cropDetailsName {
    display:inline-block;
    width:calc(100% - 40px);
    margin:0 0 0.5rem 20px;
    padding:5px 0 5px 20px;
    font-size:1.2rem;
    background:rgba(255,255,255,0.3);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.section .cropEvent {
    position:relative;
    line-height:2rem;
    padding-left:60px;
    text-transform: capitalize;
}

.section .cropEvent:before {
    content: '';
    position: absolute;
    left: 40px;
    z-index:10;
    width:8px;
    height:2rem;
    border-radius:0;
    background:#45B864;
}

.section .cropEvent:first-of-type:before {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.section .cropEvent:last-of-type:before {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.section .closeSidebar {
    display:block;
    flex-direction: column;
    justify-content: space-around;
    width:24px;
    height:24px;
    position:absolute;
    right:8px;
    top:8px;
    cursor: pointer;
}

.section .closeSidebar:after {
    content: '';
    height: 24px;
    border-left: 2px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 12px;
}

.section .closeSidebar:before {
    content: '';
    height: 24px;
    border-left: 2px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 12px;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .section {
        width:35%;
    }
}

@media screen and (max-width: 1023px) {
    .section {
        width: 100%;
        height:100%;
        z-index: 15;
        overflow:hidden;
        padding:20px 0 64px 0;
        position: fixed;
        top:unset;
        right:unset;
        bottom:-100%;
        left:0;
        transition: all linear 100ms;
        box-sizing: border-box;
        overflow-y:auto;
        box-shadow:0 0 1rem rgba(0,0,0,0.5)
    }

    .section.open {
        bottom:0;
    }
}