.calRange {
    box-sizing: border-box;
    padding-left:30px;
    margin-bottom:30px;
    text-align: center;
}
input[type='month'] {
    background: rgba(255,255,255,0.5);
    border-radius: 4px;
    border: 0;
    text-align: center;
    padding: 2px 6px;
    font-size:1rem;
}

input[type='month']:first-of-type {
    margin-right:20px;
}

.calendarContainer {
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:20px;
    padding-left:40px;
    width:100%;
    justify-content: space-between;
}

.monthContainer {
    width:100%;
    text-align: center;
    margin-bottom:3rem;
}

.month {
    font-size:1.5rem;
    margin-bottom:1.5rem;
}

.key {
    display: flex;
    justify-content: space-around;
    padding: 0 0.5rem;
    font-size:1rem;
    color:#FFF;
    margin-bottom:0.5rem;
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 7px;
    background: rgba(255,255,255,0.33);
    box-sizing: border-box;
    padding:1rem 0.5rem;
}

.day {
    position: relative;
    width:32px;
    height:32px;
    line-height:32px;
    margin:4px auto;
}

.day:hover {
    border-radius: 50%;
    border:2px solid #000;
    margin:2px auto;
    cursor: pointer;
}

.day.today {
    width:36px;
    height:36px;
    line-height:36px;
    border-radius: 50%;
    border:0;
    margin:2px auto;
    background:rgba(0,0,0,1) !important;
    color:#fff !important;
}

.day.selected {
    width:36px;
    height:36px;
    line-height:36px;
    border-radius: 50%;
    border:0;
    margin:2px auto;
    background:rgba(255,255,255,0.5);
    color:#000;
    transition: background-color 300ms;
}

.day.event:after {
    content: '';
    position: absolute;
    bottom:2px;
    left:14px;
    z-index:10;
    width:4px;
    height:4px;
    border-radius:50%;
    background:rgba(0,0,0,0.3);
}

.day.today.event:after {
    background: #FFF;
    left:16px;
    bottom:4px;
}

.day.selected.event:after {
    left:16px;
    bottom:4px;
}
.calRange label {
    display: none;
}

@media screen and (min-width:1280px) and (max-width: 1659px) {
    .calendarContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .calendarContainer {
        grid-template-columns: repeat(2, 1fr);
        padding-left:20px;
    }
}

@media screen and (max-width: 1023px) {
    .calendarContainer {
        grid-template-columns: 1fr;
        padding-left:0;
    }
    input[type='month'] {
        display: block;
        margin: 0 auto;
    }
    input[type='month']:first-of-type {
        margin: 0 auto 1rem auto;
    }
    .calRange {
        box-sizing: border-box;
        padding-left:0;
        margin-bottom:30px;
        text-align: center;
    }
    .calRange label {
        display: initial;
    }
}