button {
    color:#000;
    padding:0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 150ms;
    text-transform: capitalize;
    min-width:90px;
    line-height:2rem;
    font-size:1rem;
    background:#EEE;
    border: 1px solid #EEE;
}

button:hover {
    background:#000;
    border: 1px solid #000;
    color:#FFF;
}

button[disabled], button:hover[disabled] {
    cursor: not-allowed;
    background:#CCC;
    border:1px solid #CCC;
    color:#999;
}

button.main {
    padding:0 24px;
    margin:0 0 40px 40px;
}

button.cancel {
    margin-right:1rem;
}

button.outline {
    background:none;
    border: 1px solid #000;
}

button.outline:hover {
    background:#000;
}

button.red {
    background:rgba(184,69,69,0.5);
    color: #FFF;
    border: 1px solid rgba(184,69,69,0.5);
    line-height:2rem;
    font-size:1rem;
}

button.red:hover {
    background:rgba(184,69,69,1);
    border: 1px solid rgba(184,69,69,1);
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    button.main {
        margin:0 0 40px 20px;
    }

    .section button {
        display:block;
        width:100%;
        margin-bottom:1rem;
    }
    button.cancel {
        margin-right:0;
    }
}

@media screen and (max-width: 1023px) {
    .section button {
        display:block;
        width:100%;
        margin-bottom:1rem;
    }
    button.main {
        font-size:1.25rem;
        height:2rem;
        padding:0 24px;
        margin:0 auto 32px auto;
        display:block;
    }
    button.cancel {
        margin-right:0;
    }
}