button.btn {
    background:#EEE;
    border: 1px solid #EEE;
    border-radius: 4px;
    cursor: pointer;
    transition: all 150ms;
    text-transform: capitalize;
}

button.btn:hover {
    background:#000;
    border: 1px solid #000;
    color:#FFF;
}

button.main {
    font-size:1.25rem;
    height:2rem;
    padding:0 24px;
    margin:0 0 40px 40px;
}

button.save, button.cancel {
    line-height:2rem;
    font-size:1rem;
    padding:0;
    min-width:100px;
}

button.save {
    background:#EEE;
    border: 1px solid #EEE;
    margin-right:1rem;
}

button.cancel {
    background:none;
    border: 1px solid #000;
}

button.delete {
    background:rgba(184,69,69,0.5);
    color: #FFF;
    border: 1px solid rgba(184,69,69,0.5);
    line-height:2rem;
    font-size:1rem;
    padding:0 1rem;
}

button.delete:hover {
    background:rgba(184,69,69,1);
    border: 1px solid rgba(184,69,69,1);
}

button.right {
    float: right;
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    button.main {
        margin:0 0 40px 20px;
    }

    .save, .cancel, .delete {
        display:block;
        width:100%;
        margin-bottom:1rem;
    }
}

@media screen and (max-width: 1023px) {
    .save, .cancel, .delete {
        display:block;
        width:100%;
        margin-bottom:1rem;
    }
    button.main {
        font-size:1.25rem;
        height:2rem;
        padding:0 24px;
        margin:0 auto 64px auto;
        display:block;
    }
}