header {
    position:fixed;
    top:0;
    box-sizing: border-box;
    width:100%;
    padding:1em 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#EEE;
    z-index:25;
}

@media screen and (max-width: 1023px) {
    header {
        position:fixed;
        top:0;
        left:-100%;
        box-sizing: border-box;
        width:70%;
        max-width:400px;
        height:100%;
        padding:60px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background:#EEE;
        z-index:35;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        transition: all 150ms;
    }

    header.open {
        left:0;
    }
}